* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
}
html, body {
    background: #eee;
}
.container.bg {
    background: #f4f4f4;
}
.toplogo {
    height: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline;
}
.padding-block {
    padding-top: 40px;
    padding-bottom: 40px;
}
.smalltitle {
    font-weight: bold;
    font-size: 18px;
}
.btn-primary { transition: 250ms;
    background-color: #C42032 !important;
    border: none !important;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { transition: 250ms;
    box-shadow: none !important;
    opacity: 0.8;
}
.band {
    width: 100%; 
    min-height: 20px; 
    background-color: #111;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    color: #ccc;
}
.band-content {
    background: rgba(0,0,0,0.75);
    font-weight: 600;
}
.specicon {
    height: 65px;
    margin-bottom: 10px;
}
.spectxt {
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
}
.contacticon {
    height: 50px;
}